<nav class="navbar navbar-toggleable-md navbar-light fixed-top bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">News Scraper</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home
                <span class="sr-only">(current)</span>
            </a>
            <a class="nav-item nav-link" href="/article/saved">Saved</a>
            <a class="nav-item nav-link" href="/scraper">Scrape New Articles</a>
        </div>
    </div>
</nav>

<div class="container">

    {{!-- listing of articles --}} {{#each articles}}
    <div class="article">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">{{this.headline}}</h4>
                <p class="card-text">{{this.summary}}</p>
                <a target="_blank" href="{{this.link}}" class="card-link btn btn-primary">View Article</a>
                <button data-articleid="{{this._id}}" class="card-link save-btn btn btn-secondary">Save Article</button>
            </div>
        </div>
    </div>
    {{/each}} {{!-- end of listing of articles --}}

</div>